.home-panel{
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-panel-border{
  border-style: solid;
  border-radius: 25%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.list-item-creator{
  border-style: solid;
  width: fit-content;
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
